* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.teacher-list {
    width: 300px;
    min-height: 350px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
}
.teacher-list h2 {
    margin-bottom: 16px;

}
.teacher-card {
    /* margin-top: 30px; */
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    border-bottom: 1px solid lightgrey;
    margin-bottom: 4px;
}

.teacher-card img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid purple;
    padding: 2px;
    margin-right: 20px;
}
.teacher-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}