* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-movie {
    background-image: url('minions.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 200px;
    padding-top: 10px;
    margin: 10px;
}
.card-movie img {
    height: 100px;
    margin-top: 30px;
    margin-left: 90%;
}

.card-movie h2, h3 {
    color: rgb(4, 105, 221);
    text-align: center;

}

h3 {
    margin-top: 150px;
    background-color: rgb(255, 250, 182);
}

.menu {
    color: darkmagenta;
    margin-top: 50px;
    margin-left: 80px;
}
.itens ul {
    margin-top: 50px;
    margin-left: 80px;
    list-style: none;
    background-color: rgb(190, 190, 190);
    width: 450px;
    height: 42px;
    border-radius: 7px;
}

.itens ul li {
    display: inline-block;
    height: 42px;
    min-width: 80px;
    text-align: center;
}

.itens ul li a {
    display: block;
    color: darkblue;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px 15px 0 15px;
    height: 100%;
}

.itens ul li a:focus {
    background-color: cornflowerblue;
    border-radius: 7px;
}